#app {
  width: 100%;
  max-width: 1440px;
}

main {
  padding: 0px 50px;
}

@media (min-width: 1000px) and (max-width: 1440px) {
  #app {
    max-width: 960px;
  }

  main {
    padding: 0px;
  }
}

@media (max-width: 1000px)
{
    #app {
      max-width: 520px;
    }

    main {
      padding: 0px 20px;
    }
}